
@import "colours.css";
@define-color text @base00;
window#waybar {
    background: @base00;
    border-radius: 0 0 10px 10px;
}

window#waybar.hidden {
    opacity: 0.2;
}

#window {
    margin-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    transition: none;
    color: transparent;
    background: transparent;
}

#workspaces,
#network,
#memory,
#clock,
#cpu,
#disk,
#battery,
#wireplumber,
#temperature,
#tray {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
}
#workspaces {
    color: @text;
    background: @base0D;
}

#workspaces button {
    color: @text;
    background-color: transparent;
}
#workspaces button.active {
    background: transparent
}
tooltip {
    background: @text;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: @base08;
}
#network {
    color: @text;
    background: @base0D;
}

#clock {
    color: @text;
    background: @base0B;
}

#memory {
    color: @text;
    background: @base0E;
}
#cpu {
    color: @text;
    background: @base0E;
}
#disk {
    color: @text;
    background: @base0E;
}
#wireplumber {
    color: @text;
    background: @base0C;
}
#wireplumber.muted {
    color: @text;
    background: @base08;
}
#battery {
    color: @text;
    background: @base0C;
}
#battery.warning {
    color: @text;
    background: @base0F
}
#battery.critical {
    color: @text;
    background: @base08;
}
#temperature {
    color: @text;
    background: @base0D
}
#tray {
    background: @base0F;
}

